/* custom css styles */

/* MAIN STYLES */

body {
    background-image: url('../images/bgnoise_lg_@2X.png');
}

.container-main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #777;
    border: 1px solid #ddd;
    box-shadow: 0px 6px 45px 9px rgba(133,133,140,1);
}

/* NAVBARS */

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-brand:hover {
    background-color: #fff;
    transition: all, 0.3s;
}

.navbar a.navbar-brand {
    background-color: #4aaea5;
    color: #fff;
    padding: 24px 18px;
    letter-spacing: 1.2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
  }

.navbar a {
    color: #777;
    padding: 28px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #777;
    transition: all, 0.3s;
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

/* LINKS */

.card a {
    text-decoration: none;
    color: #2B2A2A;
}

.card a:hover {
    color: #777;
    transition: all, 0.3s;
}

/* TYPOGRAPHY */

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.2px;
    padding: 5px 0 10px 0;
    color: #4aaea5;
}

/* FOOTER */

.container-sub {
    background-color: #777;
    color: #fff;
    border-top: 2px solid #4aaea5;
}














/* .container-if-fixed-footer{
    margin-bottom: 55px;
 }

.fixed-bottom{
    height: 50px;
    border-top: 6px solid  #4aaaa5;
    background: #666666;
    text-align: center;    
 }
 
 .copyRight{
    margin: 30px auto;
    color: #cccccc;
 } */







